In [23]:
import pandas as pd

In [24]:
df=pd.read_csv('Poland_rent_cleaned.csv')
df.head()

,squareMeters,rooms,floor,floorCount,latitude,longitude,centreDistance,poiCount,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,type_numerical,city_numerical,price
0,52.0,2.0,3.0,3.0,53.460535,14.545416,4.26,2.0,1,1,0,0,0,0,0,3500
1,57.0,3.0,3.0,10.0,53.440955,14.566024,1.98,14.0,0,1,1,0,0,0,0,3000
2,43.4,2.0,3.0,4.0,53.435746,14.560764,1.37,17.0,0,1,0,0,0,-1,0,1900
3,32.6,2.0,5.0,6.0,53.421582,14.541572,1.30,16.0,0,1,1,0,0,1,0,2500
4,72.0,3.0,6.0,6.0,53.450010,14.547230,3.10,11.0,0,1,1,0,1,1,0,2999

In [25]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt

In [26]:
from sklearn.model_selection import train_test_split

X = df.drop('price', axis=1)
y = df['price'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
X_train.shape

(11264, 15)

In [28]:
model = keras.models.Sequential()
model.add(keras.layers.Dense(100, activation="relu", input_shape=(15,)))
model.add(keras.layers.Dense(100, activation="relu"))
model.add(keras.layers.Dense(100, activation="relu"))
model.add(keras.layers.Dense(1))  # Warstwa wyjściowa, ponieważ przewidujemy jedną wartość


#Sigmoid: probabilities produced by a Sigmoid are independent.
#Softmax: the outputs are interrelated. The sum of all outputs are 1.

In [29]:
# Kompilacja modelu
model.compile(optimizer='adam', loss='mean_squared_error')

In [30]:

# Trenowanie modelu
model.fit(X_train, y_train, epochs=50, validation_split=0.2, verbose=2)

Epoch 1/50

282/282 - 4s - loss: 3031538.0000 - val_loss: 982825.8125 - 4s/epoch - 15ms/step
Epoch 2/50
282/282 - 1s - loss: 934278.5625 - val_loss: 916254.3125 - 1s/epoch - 5ms/step
Epoch 3/50
282/282 - 2s - loss: 908622.5625 - val_loss: 903850.3125 - 2s/epoch - 8ms/step
Epoch 4/50
282/282 - 3s - loss: 885305.1250 - val_loss: 871299.7500 - 3s/epoch - 9ms/step
Epoch 5/50
282/282 - 2s - loss: 867754.5625 - val_loss: 852884.5000 - 2s/epoch - 6ms/step
Epoch 6/50
282/282 - 2s - loss: 853690.8750 - val_loss: 847379.0625 - 2s/epoch - 6ms/step
Epoch 7/50
282/282 - 2s - loss: 840181.0000 - val_loss: 821904.0000 - 2s/epoch - 7ms/step
Epoch 8/50
282/282 - 2s - loss: 815943.1875 - val_loss: 829023.1875 - 2s/epoch - 8ms/step
Epoch 9/50
282/282 - 1s - loss: 807116.3750 - val_loss: 797836.0000 - 1s/epoch - 5ms/step
Epoch 10/50
282/282 - 2s - loss: 796003.5625 - val_loss: 792129.3750 - 2s/epoch - 6ms/step
Epoch 11/50
282/282 - 2s - loss: 786921.2500 - val_loss: 779314.7500 - 2s/epoch - 5ms/step
Epoch 12/50
282/282 - 2s - loss: 776295.5000 - val_loss: 800738.3125 - 2s/epoch - 6ms/step
Epoch 13/50
282/282 - 2s - loss: 768235.8750 - val_loss: 813248.3125 - 2s/epoch - 7ms/step
Epoch 14/50
282/282 - 2s - loss: 767952.8125 - val_loss: 775252.3125 - 2s/epoch - 7ms/step
Epoch 15/50
282/282 - 2s - loss: 758697.4375 - val_loss: 774235.9375 - 2s/epoch - 6ms/step
Epoch 16/50
282/282 - 2s - loss: 755013.0000 - val_loss: 760097.1250 - 2s/epoch - 7ms/step
Epoch 17/50
282/282 - 2s - loss: 750532.3750 - val_loss: 758329.6875 - 2s/epoch - 6ms/step
Epoch 18/50
282/282 - 2s - loss: 746733.5000 - val_loss: 754138.1250 - 2s/epoch - 6ms/step
Epoch 19/50
282/282 - 3s - loss: 738541.2500 - val_loss: 754481.0000 - 3s/epoch - 9ms/step
Epoch 20/50
282/282 - 2s - loss: 734438.0000 - val_loss: 739649.5625 - 2s/epoch - 8ms/step
Epoch 21/50
282/282 - 2s - loss: 731160.5000 - val_loss: 744904.3750 - 2s/epoch - 7ms/step
Epoch 22/50
282/282 - 2s - loss: 724146.1250 - val_loss: 769654.9375 - 2s/epoch - 8ms/step
Epoch 23/50
282/282 - 3s - loss: 723727.7500 - val_loss: 714092.7500 - 3s/epoch - 10ms/step
Epoch 24/50
282/282 - 3s - loss: 704198.7500 - val_loss: 760380.2500 - 3s/epoch - 9ms/step
Epoch 25/50
282/282 - 2s - loss: 707593.9375 - val_loss: 721900.5625 - 2s/epoch - 7ms/step
Epoch 26/50
282/282 - 2s - loss: 693112.6250 - val_loss: 718424.7500 - 2s/epoch - 8ms/step
Epoch 27/50
282/282 - 1s - loss: 680838.0000 - val_loss: 689728.5625 - 1s/epoch - 5ms/step
Epoch 28/50
282/282 - 1s - loss: 676831.6250 - val_loss: 711162.5000 - 1s/epoch - 5ms/step
Epoch 29/50
282/282 - 1s - loss: 684143.5625 - val_loss: 672687.1875 - 1s/epoch - 5ms/step
Epoch 30/50
282/282 - 1s - loss: 659737.3750 - val_loss: 685117.2500 - 1s/epoch - 5ms/step
Epoch 31/50
282/282 - 1s - loss: 654518.7500 - val_loss: 667234.0625 - 1s/epoch - 5ms/step
Epoch 32/50
282/282 - 2s - loss: 651398.8125 - val_loss: 656600.0625 - 2s/epoch - 7ms/step
Epoch 33/50
282/282 - 2s - loss: 643103.3750 - val_loss: 679956.3125 - 2s/epoch - 8ms/step
Epoch 34/50
282/282 - 2s - loss: 636774.5000 - val_loss: 637892.0625 - 2s/epoch - 8ms/step
Epoch 35/50
282/282 - 3s - loss: 619151.4375 - val_loss: 644626.9375 - 3s/epoch - 10ms/step
Epoch 36/50
282/282 - 2s - loss: 611367.0000 - val_loss: 626691.6875 - 2s/epoch - 6ms/step
Epoch 37/50
282/282 - 2s - loss: 607409.1250 - val_loss: 611895.1250 - 2s/epoch - 7ms/step
Epoch 38/50
282/282 - 2s - loss: 602953.8125 - val_loss: 603219.1875 - 2s/epoch - 6ms/step
Epoch 39/50
282/282 - 3s - loss: 601955.8750 - val_loss: 624608.0625 - 3s/epoch - 10ms/step
Epoch 40/50
282/282 - 2s - loss: 588317.0625 - val_loss: 651502.4375 - 2s/epoch - 8ms/step
Epoch 41/50
282/282 - 2s - loss: 581980.3125 - val_loss: 582664.1875 - 2s/epoch - 5ms/step
Epoch 42/50
282/282 - 2s - loss: 578107.3125 - val_loss: 586636.1250 - 2s/epoch - 7ms/step
Epoch 43/50
282/282 - 2s - loss: 573864.0000 - val_loss: 577643.0625 - 2s/epoch - 6ms/step
Epoch 44/50
282/282 - 2s - loss: 571328.1250 - val_loss: 568204.7500 - 2s/epoch - 6ms/step
Epoch 45/50
282/282 - 2s - loss: 567373.8750 - val_loss: 588953.4375 - 2s/epoch - 7ms/step
Epoch 46/50
282/282 - 3s - loss: 563249.6875 - val_loss: 563845.1875 - 3s/epoch - 9ms/step
Epoch 47/50
282/282 - 3s - loss: 561169.4375 - val_loss: 558426.5000 - 3s/epoch - 9ms/step
Epoch 48/50
282/282 - 2s - loss: 563859.6875 - val_loss: 565089.9375 - 2s/epoch - 8ms/step
Epoch 49/50
282/282 - 2s - loss: 559465.0000 - val_loss: 556406.9375 - 2s/epoch - 6ms/step
Epoch 50/50
282/282 - 1s - loss: 568169.8750 - val_loss: 552548.5625 - 1s/epoch - 5ms/step

In [31]:
y_pred = model.predict(X_test)

151/151 [==============================] - 1s 4ms/step

In [32]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print(f"Średni błąd kwadratowy (MSE) na danych testowych: {mse}")

Średni błąd kwadratowy (MSE) na danych testowych: 561748.5390078474

In [33]:
import numpy as np
# Przykładowy przedział cenowy
przedzial_cenowy = 1000  # np. 50 000 PLN

# Określenie czy przewidywane ceny mieszczą się w przedziale akceptowalnym
poprawnie_przewidziane = np.abs(y_test - y_pred.flatten()) <= przedzial_cenowy

# Obliczenie procentowego poziomu dopasowania
dopasowanie_procentowe = np.sum(poprawnie_przewidziane) / len(y_test) * 100

print(f"Procentowy poziom dopasowania w przedziale +/- {przedzial_cenowy} PLN: {dopasowanie_procentowe:.2f}%")

Procentowy poziom dopasowania w przedziale +/- 1000 PLN: 83.62%