In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('Warsaw_rent_cleaned.csv')
#usuwam zmienne zależne
df = df.drop(['rooms','poiCount'],axis=1)
df.head()

,squareMeters,floor,floorCount,latitude,longitude,centreDistance,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,type_numerical,month,price
0,47.0,8.0,9.0,52.257912,20.968610,3.76,1,1,1,0,0,0,11,5000
1,27.0,3.0,7.0,52.249800,21.035200,2.95,1,1,1,0,0,-1,11,2950
2,51.0,5.0,7.0,52.222864,21.009959,1.08,0,1,1,0,0,0,11,3700
3,50.0,3.0,5.0,52.224948,21.012136,0.95,0,0,1,0,0,1,11,5000
4,39.8,2.0,3.0,52.216513,21.041474,3.09,0,0,0,0,0,1,11,4500

In [3]:
from sklearn.model_selection import train_test_split
X=df.drop('price', axis=1)
y=df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Inicjalizacja modelu Random Forest
rf_model = RandomForestRegressor(random_state=42) #n_estimators=100, 

# Trenowanie modelu na danych treningowych
rf_model.fit(X_train, y_train)

# Przewidywanie cen na danych testowych
y_pred_rf = rf_model.predict(X_test)

# Ocena modelu
mse_rf = mean_squared_error(y_test, y_pred_rf)
print(f"Średni błąd kwadratowy (MSE) dla modelu Random Forest: {mse_rf}")

Średni błąd kwadratowy (MSE) dla modelu Random Forest: 552779.0778270251

In [10]:
# Procentowy poziom dopasowania
przedzial_cenowy = 700
poprawnie_przewidziane_rf = np.abs(y_test - y_pred_rf) <= przedzial_cenowy
dopasowanie_procentowe_rf = np.sum(poprawnie_przewidziane_rf) / len(y_test) * 100

print(f"Procentowy poziom dopasowania dla modelu Random Forest w przedziale +/- {przedzial_cenowy} PLN: {dopasowanie_procentowe_rf:.2f}%")

Procentowy poziom dopasowania dla modelu Random Forest w przedziale +/- 700 PLN: 78.12%

In [11]:
# Ocena modelu Random Forest na danych testowych
score_rf = rf_model.score(X_test, y_test)
print(f"Współczynnik determinacji (R^2) dla modelu Random Forest: {score_rf:.2f}")

Współczynnik determinacji (R^2) dla modelu Random Forest: 0.85

In [12]:
rf_model.score(X_train, y_train)

0.9801695899302135

In [13]:
rf_model.score(X_test, y_test)

0.8523904412410248